html{
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-image: url("../pictures/background.svg");
    background-size: cover;
    background-attachment: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Login / Cadastro
==============================================*/

.ktitle, .ktitle_cadastro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px #BBDED6;
    text-align: center;
    color: #61C0BF;
    background-image: url(/pictures/calendar2.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20%);
}

.ktitle_cadastro{
    background-position: calc(100% - 18%);
}

.login_div, .cadastro_div {
    font-weight: 900;
    color: #61C0BF;
    background-color: #fae3d983;
    box-shadow: 10px 10px 15px rgba(43, 40, 40, 0.473);
    text-align: left;
    max-width: 400px;    
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15vh;
    overflow: hidden;
}

.login_div *, .cadastro_div * {
    margin-bottom: 20px;
    border: none;
}

#iemail, #isenha, #cnome, #cemail, #ccelular, #csenha, #cempresa, #cgrupo  {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.login_div a {
    color: #61C0BF;
    text-decoration: none;
}

.login_div a:hover {
    color: rgba(78, 14, 121, 0.589);
    text-decoration: none;
}

#bentrar, #bcadastro, #bsalvar, #bcancelar {
    color: white;
    font-weight: bold;
    background-color: #61C0BF;
    text-align: center;
    width: 40%;
    float: left;
    padding: 10px;
    margin-left: 25px;
}

#bsalvar, #bcancelar {
    margin-top: 10px;
}

#bentrar:hover, #bcadastro:hover, #bsalvar:hover, #bcancelar:hover {
    background-color: #cadada;
    color: rgba(32, 96, 170, 0.589);
}


/* Calendar
==============================================*/

.calendar {
    background-color: rgba(169, 202, 202, 0.466);
    width: auto;
    height: auto;
    max-width: 700px;
    position: relative;
    padding: 2%;
    margin: auto;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.month-indice {
    margin-bottom: 1%;
    font-size: 30pt;
}

.week-indice div {
    width: 12%;
    display: inline-flex;
    margin: 3px;
}

.day-indice button {
    width: 12%;
    height: 85px;
    border: 0px;
    display: inline-flex;
    margin: 3px;
}

/* Footer
==============================================*/
footer {
    margin: 10px;
    text-align: center;
}

footer a {
    text-decoration: none; 
    color: rgba(54, 100, 92, 0.856);
    margin: 10px;
}

footer a:hover {
    text-decoration: none; 
    color: rgba(32, 96, 170, 0.589);
}

/* responsiveness
==============================================*/

@media only screen and (max-width: 640px) {
    .ktitle, .ktitle_cadastro{
        background-image: none;
    }
    footer a {
        display: inline-flex;
        margin-bottom: 1px;
        padding: 1px;
    }
} 