html{
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-image: url("../pictures/background.svg");
    background-size: cover;
    background-attachment: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calendar {
    background-color: rgba(169, 202, 202, 0.466);
    width: auto;
    height: auto;
    max-width: 700px;
    position: relative;
    padding: 2%;
    margin: auto;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.month-indice {
    margin-bottom: 1%;
    font-size: 30pt;
}

.week-indice div {
    width: 12%;
    display: inline-flex;
    margin: 3px;
}

.day-indice button {
    width: 12%;
    height: 85px;
    border: 0px;
    display: inline-flex;
    margin: 3px;
}

/* Login
==============================================*/

.ktitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    font-size: larger;
    text-shadow: 2px 2px #7387df;
    text-align: center;
}

#kpic {
    width: 50px;
    height: 50px;
    transform: translate(1%, 13%);
}

.login_div {
    font-weight: 900;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.247);
    box-shadow: 10px 10px 10px rgba(43, 40, 40, 0.473);
    text-align: left;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 40px;
    width: 20em;
    height: 18em;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#iemail, #isenha {
    width: 95%;
}

.login_div_btnc {
    text-align: center;
}

.login_div a {
    color: white;
    text-decoration: none;
}

.login_div a:hover {
    color: rgba(78, 14, 121, 0.589);
    text-decoration: none;
}

#bentrar, #bcadastr {
    width: 6em;
}

/* Cadastro
==============================================*/

.cadastro_div {
    background-color: rgba(255, 255, 255, 0.247);
    font-weight: 900;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 160px;
    box-shadow: 10px 10px 10px rgba(43, 40, 40, 0.473);
    text-align: left;
    width: 20em;
    height: 18em;
    border-radius: 10px;
    transform: translate(-50%, -50%);

}

#cnome, #cemail, #ccelular{
    width: 95%;
}

.cadastro_div_btn { 
    text-align: center;
}

.cadastro_div a {
    color: white;
    text-decoration: none;
}

.cadastro_div a:hover {
    color: rgba(78, 14, 121, 0.589);
    text-decoration: none;
}


/* Footer
==============================================*/
footer {
    border-top: 1px solid rgb(55, 97, 100);
    color: rgb(68, 97, 102);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5vw;
}

footer a {
    text-decoration: none; 
    color: rgba(54, 100, 92, 0.856);
}

footer a:hover {
    text-decoration: none; 
    color: rgba(78, 14, 121, 0.589);
}




